.selectedArtist {
    background: rgb(112, 166, 248);
}

.photoDiv {
    background-position: center center;
    background-size: cover;
    height: 150px;
    width: 150px;
    display: inline-block;
}

.artistDiv {
    height: 150px;
    width: 450px;
}

.artistText {
    padding: 30px 30px 30px 0;
}