.selectedArtist {
    background: rgb(112, 166, 248);
}

.photoDiv {
    background-position: center center;
    background-size: cover;
    height: 100px;
    width: 100px;
    display: block;
    float: right;
}

.artistDiv {
    height: 100px;
    width: 450px;
}

.artistText {
    padding: 30px 30px 30px 0;
}